.produtos-table {
  margin-top: 20px;
  text-align: center;
}

.produtos-table table {
  width: 100%;
  border-collapse: collapse;
}

.produtos-table th,
.produtos-table td {
  padding: 10px;
  border: 2px solid var(--third-color);
}

.produtos-table th {
  background-color: var(--secondary-color);
  font-weight: var(--fw-bold);
}

.produtos-table tr:nth-child(even) {
  background-color: #eaeaea;
}

.produtos-table tr:hover {
  background-color: #d0cece;
  transition: all 0.3s ease;
}
#desativar-produto, #ativar-produto {
  background: none;
  border: none;
}
#desativar-produto :hover{
  color: red;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.produto-inativo td {
  color: #777;
}

.produto-inativo .acoes button {
  color: #777;
}

.produto-inativo #ativar-produto {
  color: black;
  opacity: 1;
  transition: all 0.3s ease;
}

.produto-inativo #ativar-produto:hover {
  color: #008000;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .produtos-table table {
    font-size: 12px;
  }

  .produtos-table th,
  .produtos-table td {
    padding: 6px;
  }
}
