
.deletar-item-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#cancelar{
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#cancelar {
  background-color: #e0e0e0;
  color: #333;
  margin: 0.5rem 0;
  min-width: 150px;
}

#cancelar:hover {
  background-color: #c7c7c7;
}

.deletar-item-buttons button[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
}

.deletar-item-buttons button[type="submit"]:hover:not(:disabled) {
  background-color: var(--primary-color);
}

.deletar-item-buttons button:disabled {
  background-color: #999;
  cursor: not-allowed;
}