.itens-checklist-container {
  padding-top: 100px;
  text-align: center;
}
.itens-checklist-container h1 {
    margin-bottom: 40px;
}

.itens-checklist-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  padding: 0 1rem;
  position: relative;
  z-index: 2;
}

.itens-checklist-header > div:first-child {
  min-width: 200px;
  width: 250px;
}

.itens-checklist-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
}




.parte-table {
  margin-top: 20px;
  text-align: center;
}

.parte-table table {
  width: 100%;
  border-collapse: collapse;
}

.parte-table th,
.parte-table td {
  padding: 10px;
  border: 2px solid var(--third-color);
}

.parte-table th {
  background-color: var(--secondary-color);
  font-weight: var(--fw-bold);
}

.parte-table tr:nth-child(even) {
  background-color: #eaeaea;
}

.parte-table tr:hover {
  background-color: #d0cece;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .parte-checklist-header {
    flex-direction: column;
    align-items: stretch;
  }

  .parte-checklist-actions input {
    width: 100%;
  }

  .parte-table table {
    font-size: 12px;
  }

  .parte-table th,
  .parte-table td {
    padding: 6px;
  }
}
